@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply block text-sm font-medium text-gray-700;
  }
  .invalid-feedback {
    @apply block text-sm font-medium text-red-700;
  }

  /* tailwind forms overrides */
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select
  {
    @apply block w-full my-1 border-gray-300 sm:text-sm p-2 rounded focus:ring-1 focus:ring-sky-600 focus:outline-none focus:border-sky-600;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-gray-300 text-sky-600 focus:ring-sky-500 rounded;
  }
}

.fix-position {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.fade-in-scale {
  animation: 100ms ease-out 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 75ms ease-in 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 100ms ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 75ms ease-in 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  from {
      opacity: 0;
      transform: scale(.95, .95);
  }
  to {
      opacity: 1;
      transform: scale(1, 1);
  }
}

@keyframes fade-out-scale-keys {
  from {
      opacity: 1;
      transform: scale(1, 1);
  }
  to {
      opacity: 0;
      transform: scale(.95, .95);
  }
}

@keyframes fade-in-keys {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fade-out-keys {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
