<main>
  <IFixComponents.ToastFlash.toaster socket={@socket} flash={@flash}></IFixComponents.ToastFlash.toaster>
  <IFixComponents.Toast.toaster socket={@socket} toasts={@toasts}></IFixComponents.Toast.toaster>
  <%= @inner_content %>
</main>
