<main>
  <MyAppWeb.ToastFlash.toaster socket={@socket} flash={@flash}></MyAppWeb.ToastFlash.toaster>
  <MyAppWeb.Toast.toaster socket={@socket} toasts={@toasts}></MyAppWeb.Toast.toaster>
  <%= @inner_content %>
</main>
